{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Workshop android by LoopTalks</title>

    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">


	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>

</head>
<body class="white">

<div class="navbar-fixed">
    <div class="light-green">
    	<ul id="dropdown1" class="dropdown-content">
    		<li>
    			<a href="/logout/">Logout</a>
    		</li>
    	</ul>
        <nav>
            <div class="nav-wrapper light-green">
                <a href="#!" class="brand-logo">Loop Talks</a>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="sass.html">Sass</a>
                    </li>
                    <li>
                        <a href="badges.html">Components</a>
                    </li>
                    <!-- Dropdown Trigger -->
                    <li>
                        <a class="dropdown-button" href="#!" data-activates="dropdown1">
                            Profile<i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>


<div class="row">

    <div id="main-panel">
        <!-- Teal page content  -->
        {% block content %}
        {% endblock %}
    </div>

</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script type="text/javascript" src="{% static 'js/forms.jquery.js' %}"></script>


</body>
</html>